# Systemd service file for gato daemon
#

[Unit]
Description=gato daemon service
After=syslog.target network.target

[Service]
# www-data group and user need to be created before using these lines
User=www-data
Group=www-data
WorkingDirectory=/usr/local/share/gato/
ExecStart=/usr/bin/nodejs server.js

KillMode=process
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target