div.lower-thirds {
  color: black;
  position: absolute;
  font-size: 40px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 162px;
}

.lower-thirds {
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -o-transition: 1.0s;
  transition: 1.0s;
  background:rgba(255,255,255,0.0);
  visibility: hidden;
}

div.lower-thirds.visible {
  background:rgba(255,255,255,0.95);
  visibility: visible;
}

div.lower-third-visible {
  opacity: 1;
  visibility: visible;
}

.lower-third {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 162px;
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -o-transition: 1.0s;
  transition: 1.0s;
  opacity: 0;
  visibility: visible;
  padding: 0;
  margin: 0;
}

.acclamation {
  font-style: normal;
  height: 240px;
  background: linear-gradient(0deg, rgba(255,255,255,0.95), rgba(255,255,255,0.95)) no-repeat;
  background-size: 100% 78px;
}
.acclamation p {
  margin-top: -30px;
}
.acclamation>.subtitle p:first-child:before {
  content:"Alleluia, alleluia! ";
  font-weight: bold;
}
.acclamation>.subtitle p:last-child:after {
  content:" Alleluia!";
  font-weight: bold;
}
.acclamation>.subtitle {
  font-weight: normal;
}

.acclamation.three-line {
  height: 320px;
  background-size: 100% 158px;
}

.acclamation.four-line {
  height: 400px;
  background-size: 100% 238px;
}

.lent-acclamation {
  font-style: normal;
  height: 240px;
  background: linear-gradient(0deg, rgba(255,255,255,0.95), rgba(255,255,255,0.95)) no-repeat;
  background-size: 100% 78px;
}
.lent-acclamation p {
  margin-top: -30px;
}
.lent-acclamation>.subtitle {
  font-weight: normal;
}

.lent-acclamation.three-line {
  height: 320px;
  background-size: 100% 158px;
}

.lent-acclamation.four-line {
  height: 400px;
  background-size: 100% 238px;
}


.lower-third .title {
  font-family: Arial;
  font-size: 77px;
  margin: -10px 0 0 0;
  padding: 0;
}

.lower-third .subtitle {
  font-family: Arial;
  font-style: italic;
  font-size: 60px;
  margin: -30px 0 0 0;
  padding: 0;
}

.psalm>.subtitle {
  font-weight: bold;
  font-style: normal;
}

.psalm>.subtitle p:first-child:before {
  content:"R: ";
  font-weight: normal;
}

.psalm.taller {
  font-style: normal;
  height: 240px;
  background: linear-gradient(0deg, rgba(255,255,255,0.95), rgba(255,255,255,0.95)) no-repeat;
  background-size: 100% 78px;
}

.psalm.taller p {
  margin-top: -30px;
}