div.slide-components {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide-components {
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -o-transition: 1.0s;
  transition: 1.0s;
  visibility: hidden;
}

div.slide-components.visible {
  visibility: visible;
}

div.slide-component-visible {
  opacity: 1;
  visibility: visible;
}

.slide-component {
  position: absolute;
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -o-transition: 1.0s;
  transition: 1.0s;
  opacity: 0;
  visibility: visible;
  padding: 0;
  margin: 0;
}

.slide-component.mass-welcome .extra1 {
  background: url(https://streamer-1.yellowbill.co.uk/drive/templates/welcome-plain.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.slide-component.mass-welcome div.image {
  position: absolute;
}

.slide-component.mass-welcome .extra2 :first-child:before {
  content: "HOLY MASS";
}

.slide-component.mass-welcome .extra3 :first-child:before {
  content: "Welcome to the";
}

.slide-component.mass-welcome div {
  font-family: Arial;
  position: absolute;
  color: black;
  text-align: center;
  width: 1000px;
  padding: 0;
  margin: 0;
  left: 70px;
  line-height: 1.2;
}

.slide-component.mass-welcome .extra2 {
  font-size: 120px;
  top: 190px;
  width: 700px;
  left: 220px;
  text-align: justify;
  text-align-last:justify;
}

.slide-component.mass-welcome .extra3 {
  font-size: 85px;
  top: 54px;
  width: 700px;
  left: 220px;
  text-align: justify;
  text-align-last:justify;
}

.slide-component.mass-welcome .title {
  position: absolute;
  font-size: 75px;
  top: 420px;
  z-index: 100;
}

.slide-component.mass-welcome .subtitle {
  position: absolute;
  font-size: 65px;
  top: 530px;
  z-index: 100;
}

.slide-component.mass-welcome .body {
  width: 700px;
  left: 220px;
  text-align: justify;
  text-align-last:justify;
  position: absolute;
  font-size: 50px;
  top: 630px;
  z-index: 100;
}

.slide-component.mass-welcome p {
  margin: 0px;
  padding: 0px;
}


.slide-component.mass-thankyou .extra1 {
  background: url(https://streamer-1.yellowbill.co.uk/drive/templates/welcome-plain.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.slide-component.mass-thankyou div.image {
  position: absolute;
}

.slide-component.mass-thankyou .extra2 :first-child:before {
  content: "HOLY MASS";
}

.slide-component.mass-thankyou .extra3 :first-child:before {
  content: "Thank you for joining us";
}

.slide-component.mass-thankyou div {
  font-family: Arial;
  position: absolute;
  color: black;
  text-align: center;
  width: 1000px;
  padding: 0;
  margin: 0;
  left: 70px;
  line-height: 1.2;
}

.slide-component.mass-thankyou .extra2 {
  font-size: 120px;
  top: 190px;
  width: 700px;
  left: 220px;
  text-align: justify;
  text-align-last:justify;
}

.slide-component.mass-thankyou .extra3 {
  font-size: 65px;
  top: 54px;
  width: 700px;
  left: 220px;
  text-align: justify;
  text-align-last:justify;
}

.slide-component.mass-thankyou .title {
  position: absolute;
  font-size: 75px;
  top: 420px;
  z-index: 100;
}

.slide-component.mass-thankyou .subtitle {
  position: absolute;
  font-size: 65px;
  top: 530px;
  z-index: 100;
}

.slide-component.mass-thankyou .body {
  width: 700px;
  left: 220px;
  text-align: justify;
  text-align-last:justify;
  position: absolute;
  font-size: 50px;
  top: 630px;
  z-index: 100;
}

.slide-component.mass-thankyou p {
  margin: 0px;
  padding: 0px;
}

.slide-component sup {
  line-height: 0;
  font-size: "60%";
}