.editable-text button {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: none;
  border-right: none;
}
.editable-text button:last-child {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: none;
  border-right: 1px solid #222;
}